.label
{
    -fx-font-family: "Microsoft YaHei","SimSun";
}
#bottomPane
{
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-color: #e4e4e7;
    -fx-background-color: WHITE;
}
#labAlbum
{
    -fx-border-width: 1;
    -fx-border-color: f2f2f2;
}
#labAlbum:pressed,#labPlayLast:pressed,#labPlay:pressed,#labPlayNext:pressed
{
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-scale-z: 0.98;
}
#labPlayedTime
{
    -fx-font-family: "宋体";
    -fx-font-size: 9px;
    -fx-text-fill: #666666;
}
#labTotalTime
{
    -fx-font-family: "宋体";
    -fx-font-size: 9px;
    -fx-text-fill: #979797;
}
#labMusicName,#labMusicSinger
{
    -fx-max-width: 150px;
    -fx-text-fill: #979797;
}
#progressBarSong>.bar,#progressBarVolume>.bar
{
    -fx-pref-height: 2;
    -fx-min-height: 2;
    -fx-background-insets: 0;
}
#progressBarSong:determinate>.bar,#progressBarVolume:determinate>.bar
{
    -fx-background-color: #D13A3C;
}
#progressBarSong>.track,#progressBarVolume>.track
{
    -fx-min-height: 2;
    -fx-background-color: #E5E5E5;
}
#sliderSong .thumb,#sliderVolume .thumb
{
    -fx-pref-height: 16;
    -fx-min-height: 16;
    -fx-max-height: 16;
    -fx-pref-width: 16;
    -fx-min-width: 16;
    -fx-max-width: 16;
    -fx-background-image: url("/image/NeteaseSliderBarThumb.png");
    -fx-background-size: 16, 16; /*背景图片尺寸*/
    -fx-background-color: transparent;
    -fx-background-radius: 2.0em;

    -fx-border-insets: 0, 0, 0, 0;
    -fx-padding: 0, 0, 0, 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-image-insets: 0, 0, 0, 0;
}
#sliderSong .track,#sliderVolume .track
{
    -fx-background-color:null;
    -fx-min-height: 16;
    -fx-max-height: 16;
    -fx-pref-height: 16;
}