.context-menu
{
    -fx-background-color: #FFFFFF;
}
.context-menu .menu-item .label
{
    -fx-font-family: "Microsoft YaHei","SimSun";
    -fx-text-fill: #333333;
}
.context-menu .menu-item:focused
{
    -fx-background-color: #E6E6E6;
}
.context-menu .separator
{
    -fx-padding: 0.25em 0.0em 0.25em 0.0em;
}