/*添加音乐歌单的容器样式*/
#actualPane
{
    -fx-background-color: transparent;
    -fx-padding: 5;
}
#visualPane
{
    -fx-background-color: WHITE;
    -fx-border-width: 1;
    -fx-border-color: #c9c9cb;
    -fx-effect: dropshadow(three-pass-box, #c9c9cb,5,0,0,0);
}
.text-field {
    -fx-background-color:#FFFFFF;
    -fx-border-color:#E8E8EA;
}
.button
{
    -fx-font-family: "Microsoft YaHei","SimSun";
    -fx-font-size: 15px;
    -fx-background-radius: 0.0;
    -fx-background-insets: 0;
}
.button:hover
{
    -fx-opacity: 0.9;
}
#btnCreate
{
    -fx-text-fill: WHITE;
    -fx-background-color: #BC2F2D;
}
#btnCancel
{
    -fx-text-fill: #BC2F2D;
    -fx-background-color: WHITE;
    -fx-border-width: 1px;
    -fx-border-color: #BC2F2D;
}