.label
{
    -fx-font-family: "Microsoft YaHei","SimSun";
}
BorderPane
{
    -fx-background-color: #F3F3F5;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #DDDDE1;
}
HBox
{
    -fx-pref-width: 190px;
    -fx-pref-height: 40px;
    -fx-padding: 0 0 0 1em;
}
/*hBoxTab为包裹标签的容器，包含图标<ImageView>+文字说明<Label>组件*/
.hBoxTab
{
    -fx-pref-width: 190px;
    -fx-pref-height: 40px;
    -fx-padding: 0 0 0 1em;
}
/*hBoxTab停靠变色*/
.hBoxTab:hover
{
    -fx-background-color: #E8E8EB;
}
/*HBoxTab里面的Label样式*/
.hBoxTab .label
{
    -fx-font-size: 14px;
}
/*HBoxTab里面的HBox容器，按住它可以产生缩小动画效果*/
.hBoxTab:pressed
{
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
    -fx-background-color: #E8E8EB;
    -fx-background-insets: 0 -1 0 -1;
    -fx-border-insets: 0 0 0 -1;
}
/*包裹用户信息的HBox容器*/
.hBoxUserInfo
{
    -fx-pref-width: 190px;
    -fx-pref-height: 60px;
    -fx-border-color: #DDDDE1;
    -fx-border-width: 1px 0 0 0;
}
.hBoxUserInfo:pressed
{
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
}
/*选中的HBox样式，通过在TabsContainer中添加和移除类名来控制应用此样式*/
.selectedHBox
{
    /*selected style*/
    -fx-background-color: #DDDDE1;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #BC2F2D;
    -fx-padding: 0 0 0 0.83em;
}
.scroll-pane {
    -fx-padding: 0px;
    -fx-background-color: transparent;  /*设置背景颜色*/
    -fx-background:#F3F3F5;  /*content（滚动的内容）填充*/
}

.scroll-bar:vertical {
    -fx-pref-width: 8;
    -fx-background-color: transparent;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: #C8C9CC;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #ADAFB2;
}
.scroll-bar:vertical .track{
    -fx-background-color:#F3F3F5;
    -fx-background-insets:  0, 0;
}
.scroll-bar:vertical > .increment-button > .increment-arrow {

}
.scroll-bar:vertical > .track-background {
    -fx-background-insets:  0, 0;
}
.scroll-bar:horizontal .track{
    -fx-background-color:#F3F3F5;
}
/*关闭按钮:垂直和水平的*/
.scroll-bar .increment-arrow {
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .decrement-arrow {
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .increment-button {
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .decrement-button {
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}