StackPane
{
    -fx-background-color: transparent;
}
.borderPane
{
    -fx-background-color:transparent;
    -fx-padding: 5;
}
.borderPaneFocused
{
    -fx-effect: dropshadow(gaussian, black, 9, 0, 0,0 );

    -fx-border-color: #6E6E6E;
}