.label
{
    -fx-font-family: "Microsoft YaHei","SimSun";
}
/*hBoxTab为包裹标签的容器，包含图标<ImageView>+文字说明<Label>组件*/
.hBoxTab
{
    -fx-pref-width: 190px;
    -fx-pref-height: 40px;
    -fx-padding: 0 0 0 0px;
}
/*hBoxTab停靠变色*/
.hBoxTab:hover
{
    -fx-background-color: #RED;
}
.hBoxTab:pressed
{
    -fx-background-color: #E8E8EB;
}
/*HBoxTab里面的Label样式*/
.hBoxTab .label
{
    -fx-font-size: 14px;
}
/*HBoxTab里面的HBox容器，按住它可以产生缩小动画效果*/
.scalableHBox:pressed
{
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-scale-z: 0.98;
}
/*选中的HBox样式，通过在TabsContainer中添加和移除类名来控制应用此样式*/
.selectedHBox
{
    /*selected style*/
    -fx-background-color: #DDDDE1;
    -fx-border-width: 0 0 0 2px;
    -fx-border-color: #BC2F2D;
}