#anchorPane
{
    -fx-background-color: RED;
}
#borderPanePlayList
{
    -fx-background-color: white;
    -fx-border-color: #E8E8EA;
    -fx-border-width: 1 0 1 1;
}
.label
{
    -fx-font-family: "Microsoft YaHei","SimSun";
}
#closeIcon
{
    -fx-image: url("/image/CloseIcon.png");
}
#closeIcon:hover
{
    -fx-image: url("/image/CloseIconHover.png");
}
#favorAll:pressed
{
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}
#clearAll:pressed
{
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}
/*设置标题栏的显示高度为0，不显示标题行*/
.table-view .column-header-background
{
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
.table-view
{
    -fx-background-color: transparent;
}

.table-view .table-cell
{
    -fx-text-fill: #333333;
    -fx-font-family: "Microsoft YaHei","SimSun";
    -fx-border-color:transparent;
    -fx-alignment: center-left;
    -fx-padding: 5 5 5 5;

}
/*表格行按压的缩放样式*/
.table-view .table-row-cell:pressed
{
    -fx-scale-x: 0.995;
    -fx-scale-y: 0.995;
    -fx-background-insets: 0 -3em 0 -3em;
}
.table-view .table-row-cell.highlightedRow .table-cell
{
    -fx-text-fill: #BC2F2E;
}
/*设置表格第一列的样式*/
#nameColumn.table-cell{
    -fx-padding:0 0 0 22;
}
/*设置表格移除歌曲图标的样式 start*/
#labRemoveIcon.table-cell{
    -fx-alignment: center;
    -fx-padding: 0 5 0 0;
}
.labRemoveIcon:hover{
    -fx-graphic: url("/image/RemovePlayListSongIconHover.png");
}
/*设置表格移除歌曲图标的样式 end*/

/*表格行样式*/
.table-view .table-row-cell{
    -fx-cell-size: 40px;
    -fx-background-color:#FAFAFC;
    -fx-background-insets: 0;
}
/*表格偶数行样式*/
.table-view .table-row-cell:odd{
    -fx-background-color:#FFFFFF;
}
/*表格行鼠标放置在上面的样式*/
.table-view .table-row-cell:hover
{
    -fx-background-color: #F2F2F3;
}
/*选中行的背景颜色*/
.table-view .table-row-cell:selected{
    -fx-background-color: #DEDEE0;
}

/*空行的样式，参见：http://fxexperience.com/2011/11/alternate-row-highlighting-in-empty-tableview-and-listview-rows/*/
.table-view .table-row-cell:empty
{
    -fx-background-color: #FFFFFF;
}
/*去除空行的边框*/
.table-view .table-row-cell:empty .table-cell
{
    -fx-border-width: 0px;
}

.scroll-bar:vertical
{
    -fx-pref-width: 4;
    -fx-background-color: transparent;
}
.scroll-bar:vertical .thumb
{
    -fx-background-color: #C8C9CC;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb:hover
{
    -fx-background-color: #ADAFB2;
}
.scroll-bar:vertical .track
{
    -fx-background-color:#F3F3F5;
    -fx-background-insets: 0;
}
.scroll-bar:horizontal
{
    visibility: hidden;
    -fx-pref-height: 0;
    -fx-border:0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
.scroll-bar:horizontal .thumb
{
    visibility:hidden;
    -fx-pref-height: 2;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.scroll-bar:horizontal .thumb:hover
{
    -fx-background-color: #ADAFB2;
}
.scroll-bar:horizontal .track
{
    -fx-pref-height: 0;
    -fx-border:0;
    -fx-background-insets: 0;
    -fx-background-color:#F3F3F5;
}

/*关闭按钮:垂直和水平的按钮*/
.scroll-bar .increment-arrow
{
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .decrement-arrow
{
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .increment-button
{
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .decrement-button
{
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
