#shadowPane
{
    -fx-background-color: transparent;
    -fx-padding: 5px;
}
#visualPane
{
    -fx-background-color: #FAFAFA;
    -fx-padding: 2 2 2 2;
    -fx-effect: dropshadow(three-pass-box, #C2C2C4, 5, 0, 0, 0);
}
#background
{
    -fx-background-image: url("/image/SomeTreesBackground.png");
}
#labCloseIcon:hover
{
    -fx-graphic: url("/image/CloseIconHover.png");

}
#labClearIcon:hover
{
    -fx-graphic: url("/image/ClearIconHover.png");
}
#passwordContainer,#accountContainer
{
    -fx-background-color: #FFFFFF;
}
#accountContainer
{
    -fx-border-color: #F4F4F5;
    -fx-border-width: 1 1 0 1;
}
#passwordContainer
{
    -fx-border-color: #F4F4F5;
    -fx-border-width: 1 1 0 1;
}
.button
{
    -fx-font-family: "Microsoft YaHei","SimSun";
    -fx-font-size: 16px;
    -fx-background-color: #BC2F2D;
    -fx-text-fill: WHITE;
    -fx-background-insets: 0;
}
.text-field
{
    -fx-background-color: transparent;
    -fx-font-family: "Microsoft YaHei","SimSun";
    -fx-border-width: 0 0 1 0;
}
.text-input, .text-input:focused
{
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}
#labLoginInformation
{
    -fx-font-family: "Microsoft YaHei","SimSun";
}
.progress-indicator
{
    -fx-pref-height: 18px;
    -fx-max-height: 18px;
    -fx-pref-width: 18px;
    -fx-max-width: 18px;
    -fx-progress-color: gray;
}
#labVerifyMessage
{
    -fx-text-fill: #BC2F2D;
    -fx-font-family: "Microsoft YaHei","SimSun";
    -fx-font-size: 1em;
}
