.label,.button
{
    -fx-font-family: "Microsoft YaHei","SimSun";
}
/*#borderPaneRoot*/
/*{*/
/*    -fx-border-color: RED;*/
/*    -fx-border-width: 1px;*/
/*}*/
.mainContainer
{
    /*-fx-border-color: #C2C2C4;
    -fx-border-width: 0 0 0 1;*/
    -fx-background-color: #FAFAFC;
    -fx-padding: 0 0 0 2;
    -fx-effect: dropshadow(three-pass-box, #C2C2C4, 10, 0, -2, 0);
}
.button
{
    -fx-background-color: #BC2F2D;
    -fx-text-fill: WHITE;
    -fx-background-insets: 0;
}
.button:hover
{
    -fx-opacity: 0.8;
}