BorderPane
{
    -fx-background-color: #FAFAFC;
}
.tab-pane
{
    -fx-tab-max-height: 40px;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 5px;
}
.tab
{
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
}
.tab:selected
{
    -fx-border-insets: 0;
}
/*被选中的HBox样式*/
.selectedHBox
{
    -fx-background-color: transparent;
    -fx-border-color: #C62E2E;
    -fx-border-width: 0 0 2px 0;
}
.tab:selected .focus-indicator
{
    -fx-border-color: transparent;
}
.HBox
{
    -fx-background-color: transparent;
}
.tab-pane *.tab-header-background
{
    -fx-background-color: transparent;
    -fx-border-insets: 0 15 0 10;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #E4E4E7;
}
.progress-indicator
{
    -fx-pref-height: 18px;
    -fx-max-height: 18px;
    -fx-pref-width: 18px;
    -fx-max-width: 18px;
    -fx-progress-color: gray;
}
.table-view
{
    -fx-background-color: transparent;
}
.table-view .column-header-background
{
    -fx-background-color: transparent;
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view .column-header
{
    -fx-background-color: transparent;
    -fx-border-width: 1 1 1 0;
    -fx-border-color: #E4E4E7;
    -fx-size: 30;
}
.table-view .column-header .label
{
    -fx-font-family: "Microsoft YaHei","SimSun";
}
.table-view .table-cell
{
    -fx-text-fill: #333333;
    -fx-font-family: "Microsoft YaHei","SimSun";
    -fx-border-color:transparent;
    -fx-alignment: center-left;
    -fx-padding: 5 5 5 5;

}
/*设置表格第一列的样式*/
#nameColumn.table-cell{
    -fx-text-fill: #333333;
    -fx-padding:0 0 0 25;
}
#singerColumn.table-cell,#albumColumn.table-cell,#totalTimeColumn.table-cell{
    -fx-text-fill: #333333;
    -fx-padding:0 0 0 5;
}
/*表格行样式*/
.table-view .table-row-cell{
    -fx-cell-size: 40px;
    -fx-background-color:#FAFAFC;
    -fx-background-insets: 0;
}
/*表格偶数行样式*/
.table-view .table-row-cell:odd{
    -fx-background-color:#F4F4F6;
}
/*表格行鼠标放置在上面的样式*/
.table-view .table-row-cell:hover
{
    -fx-background-color: #F2F2F3;
}
/*选中行的背景颜色*/
.table-view .table-row-cell:selected{
    -fx-background-color: #DEDEE0;
}

.scroll-bar:vertical
{
    -fx-pref-width: 8;
    -fx-background-color: transparent;
}
.scroll-bar:vertical .thumb
{
    -fx-background-color: #C8C9CC;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb:hover
{
    -fx-background-color: #ADAFB2;
}
.scroll-bar:vertical .track
{
    -fx-background-color:#F3F3F5;
    -fx-background-insets: 0;
}
.scroll-bar:horizontal
{
    visibility: hidden;
    -fx-pref-height: 0;
    -fx-border:0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
.scroll-bar:horizontal .thumb
{
    visibility:hidden;
    -fx-pref-height: 2;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.scroll-bar:horizontal .thumb:hover
{
    -fx-background-color: #ADAFB2;
}
.scroll-bar:horizontal .track
{
    -fx-pref-height: 0;
    -fx-border:0;
    -fx-background-insets: 0;
    -fx-background-color:#F3F3F5;
}

/*关闭按钮:垂直和水平的按钮*/
.scroll-bar .increment-arrow
{
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .decrement-arrow
{
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .increment-button
{
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .decrement-button
{
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}

