#tabPane
{
    -fx-tab-min-height: 100px;
    -fx-tab-max-height: 100px;
    -fx-tab-min-width: 30px;
    -fx-tab-max-width: 30px;
    -fx-border-color: gray;
    -fx-border-width: 1px;
}
.tab .tab-label
{
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: transparent;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}
.tab
{
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}
.tab:selected
{
    -fx-background-color: WHITE;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 2px 0 0 0;
    -fx-border-color: RED;
}
.tab:selected .focus-indicator
{
    -fx-focus-color:transparent;
    -fx-border-color: transparent;
}
.tab:focused
{
    -fx-focus-color:transparent;
}
.tab-pane *.tab-header-background
{
    -fx-background-color: transparent;
}
.tab-pane:left *.tab-header-area
{
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.control-buttons-tab {
    visibility: hidden;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-padding: 0;
}

.control-buttons-tab>.container {
    visibility: hidden;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-padding: 0;
}

.container>.arrow {
    visibility: hidden;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-padding: 0;
}
.tab-pane.floating > .tab-header-area > .tab-header-background {
    -fx-background-color: RED;
    -fx-border-width: 2px;
    -fx-border-color: RED;
}
.tab-pane.floating > .tab-header-area {
    -fx-background-color: RED;
    -fx-border-width: 2px;
    -fx-border-color: RED;
}
.tab-pane.floating > .tab-content-area {
    -fx-background-color: -fx-outer-border, -fx-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2, 0;
    -fx-padding: 2;
}