# Compiled class file
*.class

#IDEA relevant file
target
.idea
neteasemusicplayer.iml
.attach_pid*

# Log file
*.log



#MacOS file
*.DS_Store

#Test folder
src/test

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*