<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="pojo"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/user-mapper.xml"></mapper>
        <mapper resource="mapper/song-mapper.xml"></mapper>
        <mapper resource="mapper/singer-mapper.xml"></mapper>
        <mapper resource="mapper/album-mapper.xml"></mapper>
        <mapper resource="mapper/register-mapper.xml"></mapper>
    </mappers>
</configuration>