<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.OnlineSongMapper">
    <select id="queryByName" parameterType="String" resultMap="onlineSongResultMap">
        select name,singer,album,total_time,resource from songs where name like concat('%',#{value},'%')
    </select>
    <select id="queryBySinger" parameterType="String" resultMap="onlineSongResultMap">
        select name,singer,album,total_time,resource from songs where singer like concat('%',#{value},'%')
    </select>
    <resultMap id="onlineSongResultMap" type="OnlineSong">
        <result property="name" column="name"></result>
        <result property="singer" column="singer"></result>
        <result property="album" column="album"></result>
        <result property="totalTime" column="total_time"></result>
        <result property="resource" column="resource"></result>
        <result property="lyrics" column="lyrics"></result>
    </resultMap>
</mapper>
